<div class="row">
  <div class="col-xs-12">
    <img src="{{selectedRecipe?.imagePath}}" height="256" widht="360" class="img-responsive" alt="" />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipe?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button type="button" class="btn btn-success" name="button" (click)="onAddToShoppingList(selectedRecipe)">To Shopping List</button>
    <button type="button" class="btn btn-danger" name="button">Edit</button>
    <button type="button" class="btn btn-info" name="button">Delete</button>
  </div>
</div>

<div class="row">
<div class="col-xs-12">
  <p>
    {{selectedRecipe?.description}}
  </p>
</div>
</div>

<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
